body{
    background-color: rgb(13, 14, 14);
    background: linear-gradient(45deg,black,rgb(180, 103, 145));
    font-family: candara;
    margin: 0;
    color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Explicitly set the display property for the section */
section {
    display: block;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    /* border: 2px solid snow; */
    justify-content: space-between;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
}
#logo{
    flex: 2;
    align-self: center;
    font-size: 1.8rem;
    margin-left: 7%;
    letter-spacing: 0.6vw;

}

ul {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    flex: 3;
}
ul li{
    margin: 10px;
    list-style: none;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.dropdown{
    margin-top: 10px;
}
ul li a:hover{
    color: rgb(240, 38, 98);
}
 
.now a{
    color: yellow;
}



/* .container */
.container{
    /* width: 100vw;
    height: 90vh; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
}
.container main h1{
    font-size: 2.5rem;
}
img{
    background-color: black;
    opacity: 0.9;
    /* border: 0.1px solid snow; */
    border-radius: 50%; 
}
.menu-icon{
    display: none;
}
.menu-icon i{
    font-size: 30px;
}


/* flip Effect */
.flip-container{
    perspective: 1000px;
    height: 350px;
    width: 350px;
}
.flip{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 3s;
}
.flip-container:hover .flip{
    transform:rotateY(180deg);
}
.back-side{
    transform:rotateY(180deg);
} 
.front-side, .back-side{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.front-side img{
    width: 100%;
    height: 100%;
}
.back-side{
    background: linear-gradient(45deg,black,rgb(180, 103, 145));
    border-radius: 20px;
    border: 2px solid white;
    text-align: center;
}
body{
    display: flex;
    flex-direction:column;
}

/* About Section*/
section{
   width: auto;
    height: 500px;
    border: 2px solid black;
    background-color: blue;
    margin-top: 2000px;

}

/* media Query */

@media screen and (max-width:600px) {
    header{
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-between;
    }
    .menu-icon{
        display: block;
        margin-right: 5%;
    }
    header{
        height: min-content;
        background-color: rgb(7, 7, 7);
    }
    .container{
        flex-direction: column;
        text-align: center;
        height: fit-content;
    }
    .container h1,h2,h3,h4,h5,h6{
        margin-top: 10%;
    }
   
    ul{
        display: none;
    }
    .container .btns{
        display: flex;
        margin: 10%;
        height: 20vh;
        align-items: center;
    }
    .flip-container{
        height: 200px;
        width: 200px;
    }
    .back-side{
        font-size: 16px;
    }
    .dropdown{
        margin-bottom: 10px;
    }


}